@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Inter, sans-serif;
  background-color: #111827;
  background-image: radial-gradient(rgba(77, 77, 77, 0.549) 1px, transparent 0);
  background-size: 40px 40px;
  position: relative;
  overflow-x: hidden;
}

.hero-gradient {
  position: absolute;

  z-index: -10;
  top: 0;
  border-radius: 50px;
  right: -300px;
  height: 1000px;
  width: 1000px;
  background: radial-gradient(
    circle,
    rgba(68, 185, 209, 0.4654236694677871) 0%,
    rgba(28, 77, 84, 0.2805497198879552) 47%,
    rgba(15, 41, 42, 0.258140756302521) 60%,
    rgba(15, 41, 42, 0.06766456582633051) 72%
  );
}

.skills-gradient {
  position: absolute;
  z-index: -10;

  top: 32%;
  border-radius: 50px;
  left: -200px;
  height: 1000px;
  width: 1200px;
  background: radial-gradient(
    circle,
    rgba(68, 209, 162, 0.465) 0%,
    rgba(28, 77, 84, 0.2805497198879552) 47%,
    rgba(15, 41, 42, 0.258140756302521) 60%,
    rgba(15, 41, 42, 0.06766456582633051) 72%
  );
}
